{% extends 'base.html.twig' %}

{% block title %}Modifier {{ concert.title }}{% endblock %}

{% block body %}
    <section class="form-container">
        <h1>Modifier le concert : {{ concert.title }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}

        <a href="{{ path('app_artist_manage', {id: concert.artist.id}) }}">Annuler et retourner à la gestion</a>
    </section>
{% endblock %}
